Code/Main/Tp.Web/Plugins/*.dummy
_ReSharper.*/
[Bb]in/
[Db]ebug/
[Rr]eleases/
[Ll]ogs/
[Uu]pload/
Code/Main/Tp.Web/Plugins/
Code/Main/Tp.Web/Bin/*

~*/
obj/
*.orig
*.rej
*.exe
*.user
*.cache
*.suo
*.[Rr]e[sS]harper
*.gpState
*.iml
*.ipr
*.iws
.project
*.BASE.*
*.LOCAL.*
*.REMOTE.*
/TpTaskCreator-nunit-results.xml